<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ANUPark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E62BCD11DA2CE7E006C424E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E62BCE51DA2CE7E006C424E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E62BCF01DA2CE7F006C424E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
